<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web-Based Dictionary</title>
  <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
  <div class="container">
    <div class="main-header">
      <h1>Web-Based Dictionary I Coded with Python</h1>
      <p>
        You will be amazed by my intelligent Dictionary.
      </p>
    </div>

    <div class="form-group">
      <input type="text" placeholder="enter a word or phrase">
    </div>
    <a href="#" class="btn">Search</a>
  </div>
  <script src="app.js"></script>
</body>

</html>