<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample Data collection site</title>
  <link rel="stylesheet" href="static\main.css">
</head>
<body>
  <div class="container">
    <h2>This is a Form submission UI</h2>
    <h3>Please fill the required fields:</h3>

    <form action="templates\success.html" method="POST" class="form-group">
      <input type="text" name="firstname" class="block" id="firstname" placeholder="Firstname" required>
      <input type="text" name="lastname" class="block" id="lastname" placeholder="Lastname" required>
      <input type="email" name="email" class="block" id="email" placeholder="Email Address" required>
      <input type="number" name="telephone" class="block" placeholder="Phone number">
      <button type="submit" class="btn-submit">Submit</button>
    </form>
  </div>
</body>

</html>